:root {
  --mainBackgroundColor: #48426d;
  --secondaryBackgroundColor: #dfe0df;
  --font-family: "Roboto Mono", monospace;
  --bg-color: #f9f9f9;
}

body {
  font-family: var(--font-family);
  background: var(--bg-color);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline 1px solid;
  text-underline-offset: 2px;
}
.main-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  font-size: 16px;
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondaryBackgroundColor);
  padding: 0 15px;
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-size: 1rem;
  color: #000;
}

.danger {
  color: #ff0000;
}
.success {
  color: #008000;
}
.warning {
  color: #ffc107;
}

input {
  padding: 0.1rem;
  margin-bottom: 15px;
  margin-top: 2px;
  font-size: 1rem;
  font-family: var(--font-family);
  width: 60%;
}

input:focus {
  outline: none;
}

.btn {
  background-color: purple;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.btn:hover {
  text-decoration: underline 2px solid #fff;
  text-underline-offset: 2px;
}

label {
  font-weight: 300;
}

span {
  font-weight: bold;
  text-decoration: underline;
  padding: 5px;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: left;
  padding: 0.2rem;
  font-size: 14px;
  margin-bottom: 2rem;
}

.bmi-table h3 {
  text-align: center;
  margin-bottom: 1px;
}

/* Mobile */
@media (max-width: 768px) {
  .inner-container {
    flex-direction: column;
  }

  .bmi-table,
  .bmi-form {
    padding-top: 30px;
  }
}
