{% extends 'base.html' %}

{% block content %}

<h1>Body Mass Index (BMI)</h1>
<p>Body Mass Index (BMI) is derived from weight and height measurement of a person. It is used to measure body fat and
applies to both adult men and women.</p>
<p>BMI is used to categorize a person as <i>underweight</i>, <i>normal weight</i>, <i>overweight</i>, or <i>obese</i>
    based on tissue mass (fat) and height.</p>
<p>The tool below will help you know your BMI. Simply enter your weight in pounds (lbs) and height in feet and inches, then click
    <mark>Calculate BMI</mark> button. Your BMI results will be shown below.</p>

<h3>Calculate Your Body Mass Index (BMI)</h3>
<div class="inner-container">
    <div class="bmi-form">
        <form action="/" method="post">
            <div class="form group">
                <label for="weight">Weight (lbs)</label><br>
                <input type="text" name="weight" value="{{ form_data.weight }}" required>
            </div>
            <div class="form group">
                <label for="feet">Height (feet)</label><br>
                <input type="number" name="feet" min="0" max="8" value="{{ form_data.feet }}" required>
            </div>
            <div class="form group">
                <label for="inches">Height (inches)</label><br>
                <input type="number" name="inches" min="0" max="11" value="{{ form_data.inches }}" required>
            </div>
            <div class="form group button-group">
                <button class="btn btn-calculate" type="submit" name="submit">Calculate BMI</button>
                <button class="btn btn-reset" type="button" onclick="resetForm()">Reset</button>
            </div>
        </form>
        <div>
            {% if bmi %}
                {% if bmi < 18.5 %}
                    <p class="warning">Your BMI is : <span>{{bmi}}</span> Underweight </p>
                {% elif bmi == 18.5 or bmi <= 24.9 %}
                    <p class="success">Your BMI is : <span>{{bmi}}</span> Normal weight </p>
                {% elif bmi == 25 or bmi <= 29.9 %}
                    <p class="danger">Your BMI is : <span>{{bmi}}</span> Overweight </p>
                {% else %}
                    <p class="danger">Your BMI is : <span>{{bmi}}</span> Obese </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="bmi-table">
        <h3>BMI Categories</h3>
        <table>
            <tbody>
                <tr>
                    <th>Category</th>
                    <th>BMI Range</th>
                </tr>
                <tr>
                    <td>Underweight</td>
                    <td>Below 18.5</td>
                </tr>
                <tr>
                    <td>Normal weight</td>
                    <td>18.5 - 24.9</td>
                </tr>
                <tr>
                    <td>Overweight</td>
                    <td>25.0 - 29.9</td>
                </tr>
                <tr>
                    <td>Obese</td>
                    <td>30.0 or greater</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
