{% extends 'base.html' %}

{% block content %}
    <h1>Calculate Your Body Mass Index (BMI)</h1>
    <div class="bmi-form">
        <form action="/" method="post">
            <div class="form group">
                <label for="weight">Weight In Kg</label><br>
                <input type="text" name="weight" required>
            </div>
            <div class="form group">
                <label for="height">Height In cm</label><br>
                <input type="text" name="height" required>
            </div>
            <div class="form group">
                <button class="btn" type="submit" name="submit">Calculate BMI</button>
            </div>
            <p>Your BMI is <mark>{{bmi}}</mark> </p>
        </form>
    </div>


{% endblock %}
